<mat-card>
    <form action="" (ngSubmit)="onPostDate(postForm)" #postForm="ngForm">
        <mat-form-field>
            <mat-label>Post Title here</mat-label>
            <input type="text" name="title" matInput ngModel required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Post Content</mat-label>
            <textarea name="content" rows="10" matInput ngModel required></textarea>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Save Post</button>
    </form>
</mat-card>
<app-postlist></app-postlist>